* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter",
      sans-serif;
}

:root {
  --white: #ffffff;
  --black-1: #202020;
  --primary: ##e1d8d2;
  --grey: #323232;
  --red-dark:#af6e6c;
  --red:#e30004;
  --red-white:#FD0054;
  --red-black:#A80038;
  --brown:#4f393a;
  --headline1: 700 7rem/normal Inter;
  --headline2: 700 5rem/normal Inter;
  --body1-regular: 400 1rem/normal Inter;
  --body1-bold: 700 2.5rem/3rem Inter;
  --body2-bold: 700 0.875rem/1.5rem Inter;
  --body2-regular: 400 2.0rem/normal Inter;
  --caption-regular: 400 0.75rem/1.5rem Inter;
  --caption-bold: 700 0.75rem/1.5rem Inter;
}

body{
  margin: 0;
  padding: 0;
  background-color: #e8ebeb;
  font: var(--body1-regular);
  color: var(--black-1);
}

header {
  padding: 10px 20px;
  background-color: var(--white);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0px auto;
  height: 80px;
}
nav a img {
  width: 100px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 0 10px;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--black-1);
  text-transform: uppercase;
}



nav ul li a:hover {
  color: var(--red);
}

#boton-contact {
  display: inline-block;
  padding: 12px 20px;
  background-color: var(--black-1);
  border-radius: 8px;
  color: var(--white);
}

#boton-contact:hover {
  background-color: var(--red);
  color: var(--white);
}

.menu-hamburguesa, .label-hamburguesa {
  display: none;
}

.subtitle {
  display: inline-block;
  font: var(--headline2);
  color: var(--white);
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
}


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}

.container-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -10;
}

.hero-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  max-width: 1440px;
  justify-content: flex-start;
  padding: 10px 20px;
}

.content-title {
  width: 60%;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.content-title h1 {
  display: inline-block;
  max-width: 60%;
  font: var(--headline1);
  color: var(--white);
  text-shadow: 2px 1px 2px var(--grey);
  line-height: 0.9;
  text-transform: uppercase;
}

.content-title span {
  color: var(--red);
  text-shadow: 3px 4px 1px var(--black-1);
}



.content-title p {
  font: var(--body1-bold);
  color: var(--white);
  font-size: 2.8rem;
  display: inline-block;
  max-width: 400px;
  text-align: center;
  padding: 10px 8px;
  text-transform: uppercase;
  background-color: rgba(168, 0, 56, 1);
  box-shadow: 4px 5px 25px 2px rgba(100, 0, 0, 0.75);
}
.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-1);
  opacity: 0.6;
  top: 0;
  z-index: -5;
}

#quienes-somos {
  width: 100%;
  background-color: var(--red-dark);
  background-color: #A80038;
}

.objetivo {
  display: flex;
  height: 550px;
  align-items: center;
}

.objetivo-texto {
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#quienes-somos h2 {
  display: inline-block;
  font: var(--headline2);
  width: 80%;
  padding: 10px 20px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  border-bottom: 2px solid #4f393a;
  border-top: 2px solid #4f393a;
}

.objetivo-texto p {
  display: inline-block;
  font: var(--body1-bold);
  width: 100%;
  max-width: 800px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.objetivo-texto p span {
  color: var(--black-1);
}

.palabras {
  display: flex;
  gap: 12px;

}
.palabras > p {
  color: var(--brown);
  display: inline;
  background-color: var(--white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 2rem;
}

/*portafolio*/

#portafolio {
  background-color: var(--black-1);
}

.section {
  width: 100%;
  padding: 60px 0px;
}

.portafolio-blocks{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-around;
}

.portafolio-blocks .box {
  width: 300px;
}

.portafolio-blocks .box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.portafolio-blocks .box p {
  font: var(--body2-regular);
  background-color: var(--red-black);
  color: var(--white);
  padding: 16px 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

/*estrategia*/

.subtitle-black {
  color: var(--black-1);
}

.estrategia-animacion {
  display: flex;
  margin-top: 40px;
  width: 100%;
  gap: 45px;
  justify-content: space-around;
  align-items: center;
}

.informacion-estrategia {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cajas-estrategia {
  background-color: #c9b8b8;
  width: 290px;
  border-radius: 4px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.cajas-estrategia div {
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--red-dark);
}
.cajas-estrategia img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.cajas-estrategia h3 {
  font-size: 2.6rem;
  color: #121212;
  text-transform: uppercase;
}

.cajas-estrategia p {
  font-size: 1.8rem;
  color: #121212;
}

#estrategia video {
  width: 30%;
  border-radius: 50%;
}


/* Experiencia */

.experiencia-info {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.colombia {
  width: 55%;
}

.colombia img {
  width: 100%;
  object-fit: contain;
}

.experiencia-datos {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.experiencia-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 90%;
}

.experiencia-texto p {
  color: var(--white);
  font-size: 2.8rem;
  line-height: 1.3;
  width: 100%;
}


.experiencia-texto p > span {
  background-color: var(--black-1);
  color: var(--white);
  font-weight: 700;
  padding: 4px;
  border-radius: 6px;
  text-transform: uppercase;
}



#experiencia {
  background-color: var(--red-black);
}

.tiempo-equipo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--black-1);
  color: var(--white);
  border-radius: 6px;
  padding: 16px 16px;
  width: 70%;
  gap: 12px;
}

.numero {
  font-size: 7rem;
  color: var(--red-dark);
}

.numero + p {
  text-align: center;
}

.tiempo, .equipo {
  display: flex;
  width: 350px;
  gap: 16px;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

/*clientes*/

#clientes{
  background-color: var(--grey);
}

.clientes-info {
  display: flex;
  color: var(--white);
  flex-direction: column;
  gap: 20px;
  font-size: 2.5rem;
  text-align: center;
}

.cajas-clientes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 16px 0;
  margin: 0 auto;
  justify-content: center;
}

.imagen-cliente {
  width: 20%;
  border-radius: 8px;
  object-fit: contain;
  background-color: var(--white);
}

/*formulario*/

#contacto-title {
  color: var(--black-1);
}

.contenedor-formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-top: 20px;
}

.formulario {
  max-width: 600px;
  width: 90%;
  padding: 20px 20px;
  background-color: var(--red-black);
  border-radius: 8px;
}

.formulario input {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 1.5rem;
}

.formulario textarea {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 60px;
  padding: 10px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 1.5rem;
}

.formulario label {
  font-size: 1.4rem;
  color: var(--white);
}

.boton-formulario {
  margin-top: 20px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 8px;
  color: var(--white);
  background-color: black;
}

.boton-formulario:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.655);
}



/* footer */

.footer-background {

  background: linear-gradient(188deg, rgba(50, 50, 50, 1) 12%, rgba(32, 32, 32, 1) 100%);
}

.footer-information {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.footer-box {
  padding: 0px 20px;
  display: flex;
  height: 280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-left: 4px solid var(--red-black);
}

.footer-box p, .rights p {
  color: var(--white);
  font-size: 2.2rem;
}

.footer-box h4 {
  color: var(--white);
  margin-top: 16px;
  font-size: 2.6rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer-box a {
  color: var(--white);
  font-size: 2.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-box a:hover {
  color: var(--red-white);
}

.footer-box .location {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-box .icono {
  width: 35px;
}

.rights {
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media (width <= 768px) {

  nav {
    position: relative;
  }

  .label-hamburguesa {
    display: block;
  }

  .menu-hamburguesa:checked + .nav-central {
    height: 200px;
    z-index: 20;
    padding-left: 10px;
    transition: all 0.6s;
  }

  .nav-central {
    position: absolute;
    top: 90px;
    flex-direction: column;
    width: 100vw;
    left: -20px;
    gap: 1rem;
    height: 0;
    overflow: hidden;
    background-color: rgba(168, 0, 56, 0.9);
  }

  .nav-central a {
    color: var(--white);
  }

  .section {
    padding: 24px 0;
  }
  .content-title h1 {
    font-size: 5rem;
  }

  .content-title p {
    font-size: 1.8rem;
    max-width: 50vw;
  }

  .objetivo {
    height: auto;
    padding: 20px;
  }

  .objetivo-texto {
    margin: 20px auto;
  }

  .objetivo-texto p {
    line-height: 1.4;
  }

  #quienes-somos h2, .subtitle {
    font-size: 8.5vw;
  }

  .palabras {
    flex-direction: column;
    width: 80%;
  }
  .container p, .container a {
    font-size: 3vw;
  }

  .experiencia-datos {
    gap: 12px;
  }

  .experiencia-info {
    flex-direction: column;
    align-items: center;
  }

  .tiempo-equipo {
    width: 90%;
  }

  .tiempo, .equipo {
    flex-direction: column;
    gap: 8px;
  }

  .portafolio-blocks .box {
    width: 250px;
  }

  .portafolio-blocks .box p {
    padding: 12px;
    font-size: 16px;
  }

  .container .numero {
    font-size: 10vw;
  }

  .estrategia-animacion {
    flex-direction: column;
  }

  #estrategia video {
    width: 50%;
  }

  .informacion-estrategia {
    width: 100%;
  }

  .cajas-estrategia {
    width: 43%;
    padding-top: 12px;
  }

  .cajas-estrategia h3 {
    font-size: 4vw;
  }

  .colombia, .experiencia-datos {
    width: 100%;
  }

  .colombia {
    width: 70%;
  }

  .experiencia-texto p {
    line-height: 1.5;
  }

  .boton-formulario {
   width: 100%;
  }

  .footer-information {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .footer-box {
    width: 50%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    border-left: 0;
    border-bottom: 4px solid var(--red-black);
    padding-bottom: 20px;
  }

  .footer-box h4 {
    margin-top: 0;
    font-size: 4vw;
  }
}